.container_tag {
  background-color: #74747427;
  display: flex;
  padding: 5px 15px;
  border-radius: 100px;
  color: #ffffff5b;
  font-weight: lighter;
  cursor: pointer;
  transition: all 1s;
}

.container_tag:hover {
  background-color: #ccc9c998;
  color: #ffffffce;
  transition: all 1s;
}

.container_tag::before {
}
