.btn {
  width: 40px;
  background-color: #1e1e1e;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 2px solid #747474;
  cursor: pointer;
  transition: all 1s;
}
.btn img {
  width: 60%;
}
.btn:hover {
  background-color: #ccc9c998;
  transition: all 1s;
}
