.profile_image {
  overflow: hidden;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-sizing: border-box;
  border: 5px solid #5e626b;
  display: flex;
}

.profile_image img {
  width: 100%;
  height: auto;
}

.profile_small {
  overflow: hidden;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-sizing: border-box;
  border: 3px solid #5e626b;
  display: flex;
}

.profile_small img {
  width: 100%;
  height: auto;
}
