.animationContainer {
  animation: AnimationContainerEnter 2s;
}
.animationBottomToTop {
  animation: LeftToRight 2s;
}
.animationDeseaper {
  animation: Desapear 5s;
}
.animationInfinity {
  animation: BottomToTop 3s infinite;
  /* transition: all 2s; */
}

@keyframes BottomToTop {
  0% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(20%);
  }
}
@keyframes LeftToRight {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes AnimationContainerEnter {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes Desapear {
  0% {
    opacity: 1;
    /* transform: translateY(-5px); */
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
    /* transform: translateY(0); */
  }
}
