.container_header {
  display: flex;
  /* border: 1px solid white; */
  padding: 0px 0px;
  box-shadow: 0 2rem 4rem rgba(1, 1, 1, 0.5);
  height: 10vh;
}
.container_header div:nth-child(1),
.container_header div:nth-child(2),
.container_header div:nth-child(3),
.container_header div:nth-child(4) {
  /* border: 1px solid white; */
  /* flex: 1; */
  padding: 10px 10px;
  display: flex;
  align-items: center;
}
.container_header div:nth-child(2) {
  flex: 2;
  padding-left: 10px;

  display: flex;
  align-items: center;
}
.container_header div:nth-child(3) {
  flex: 1;
  display: flex;
  justify-content: center;
}
.container_header div:nth-child(2) span {
  font-size: 1.2em;
  font-family: "Muli-Bold";
  padding: 0px !important;
}
.container_header div:nth-child(4) a,
.container_header div:nth-child(2) .app_name_last {
  text-decoration: none;
  color: #ccdc3970;
}
.container_header img {
  width: 30px;
  /* border: 1px solid red; */
}
.container_header div:nth-child(3) img {
  width: 20px;
}
