html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  /* vertical-align: baseline; */
  padding: 0px;
}
@font-face {
  font-family: "Muli";
  src: local("Muli"),
    url("./assets/font/Muli/Muli-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Muli-Bold";
  src: local("Muli-Bold"),
    url("./assets/font/Muli/Muli-Bold.ttf") format("truetype");
}
body {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  color: #ffffffbb;
  font-family: "Muli", "Helvetica", "Arial", sans-serif;
}
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(14, 13, 13) rgb(14, 13, 13);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  /* background: white; */
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(99, 96, 96, 0.192);
  border-radius: 20px;
  /* border: 1px solid white; */
}
