.user_profile {
  /* border: 1px solid white; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  text-align: center;
}
.user_profile div:nth-child(1) {
  width: 100px;
  margin-bottom: 5px;

  /* border: 1px solid red; */
  /* justify-self: center; */
}
.user_profile div:nth-child(2) {
  /* border: 1px solid white; */
}
.user_profile div:nth-child(2) span {
  font-size: 1.2em;
}
